<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <div class="contact-me">
      <a class="btn" href="mailto:iastring.official@gmail.com">E-MAIL ME!</a>
    </div>
  </div>
<%- include("partials/footer"); -%>
